<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>About</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{{url_for('blog.static', filename='css/base.css')}}">
    <link rel="stylesheet" href="{{url_for('blog.static', filename='css/vendor.css')}}">
    <link rel="stylesheet" href="{{url_for('blog.static', filename='css/main.css')}}">

    <!-- script
    ================================================== -->
    <script src="{{url_for('blog.static', filename='js/modernizr.js')}}"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">

</head>

<body class="ss-bg-white">

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div id="top" class="s-wrap site-wrapper">

        <!-- site header
        ================================================== -->
        <header class="s-header header">

            <div class="header__top">
                <div class="header__logo">
                    <a class="site-logo" href="/">
                        <img src="images/logo.svg" alt="Homepage">
                    </a>
                </div>

                <!-- toggles -->
                <a href="#0" class="header__menu-toggle"><span>Menu</span></a>

            </div>

            <nav class="header__nav-wrap">

                <ul class="header__nav">
                    <li><a href="/" title="">Home</a></li>
                    <li class="current"><a href="/about" title="">About</a></li>
                </ul> <!-- end header__nav -->


            </nav> <!-- end header__nav-wrap -->

        </header> <!-- end s-header -->


        <!-- site content
        ================================================== -->
        <div class="s-content content">
            <main class="row content__page">
                
                <section class="column large-full entry format-standard">

                    <div class="media-wrap">
                        <div>
                            <img src="{{url_for('blog.static', filename='images/about.png')}}"  alt="well this is a shame">
                        </div>
                    </div>

                    <div class="content__page-header">
                        <h1 class="display-1">
                        </h1>
                    </div> <!-- end content__page-header -->

                    <h2>Who am I?</h2>
                    <p>
                        I’m just a dude who decided to make a website to document his life. I’m not all that special, successful, interesting, or brilliant, though others say otherwise. (They would.) 
                        I was not prompted to challenge myself academically as a pupil. I did what was required to get a top mark and no more; grades were all that mattered, however arbitrary they may be. 
                        I did not partake in extracurriculars besides sports—which I was encouraged to pursue, against all sensible logic, despite being perpetually among the tallest of my class. Sports are where young men (and women) attempt to destroy other young men (and women) for no reason other than machismo and school spirit and sports.
                        I was not constituted for the endeavor, and even if I was, I’d still feel the repercussions of battle.
                    </p>
                    <p>
                        I was a ghost through college, which I attended absentmindedly and virtually compulsorily with no intentions or prudence other than to take the easiest courses possible and involve myself no more than physically or mentally required.
                        Well The competition i was avoiding for so long in sport resurfaced as a dogfight for grade points, cutthroat educational warfare.
                    </p>
                    <p>
                        <b>So: Hi. I’m Araon.</b> My full name is Soumik Ghosh, but I go by Araon for short. Araon has a nice ring. You’ll probably remember it.
                    </p>
                    <p>
                        I was raised in Sodpure, West Bengal, an middle-class suburb of Kolkata. It floods during the rainy seasons, the local playgrounds are good, and most young residents don’t realize how good they have it. Opportunity’s overwhelming. <br>
                        I spent my teens absorbed in trivial, introverted pursuits that hindered my ability to speak up and as a result I feel I’m behind the bar. I fear I will ever catch up.
                    </p>
                    <h2>Why I Blog</h2>
                    <p><b>To change.</b>This is nothing more than a mirror. It reflects whatever’s been gunked in my mind and impossible to fully grasp otherwise. 
                        The stretches during which I’ve not regularly divulged my running thoughts, through this medium or another, have been the most sclerotic and self-oblivious of my life.
                    </p>
                    <p><i>Which is to say: This place is littered with cicada shells; my thoughts and opinions are likely now elsewhere.</i></p>
                    <hr>
                    </div>

                </section>

            </main>

        </div> <!-- end s-content -->


        <!-- footer
        ================================================== -->
        <footer class="s-footer footer">
            <div class="row">
                <div class="column large-full footer__content">
                    <div class="footer__copyright">
                        <span>© Copyright Typerite 2019</span> 
                        <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>
                    </div>
                </div>
            </div>

            <div class="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"></a>
            </div>
        </footer>

    </div> <!-- end s-wrap -->


    <!-- Java Script
    ================================================== -->
    <script src="{{url_for('blog.static', filename='js/jquery-3.2.1.min.js')}}"></script>
    <script src="{{url_for('blog.static', filename='js/plugins.js')}}"></script>
    <script src="{{url_for('blog.static', filename='js/main.js')}}"></script>

</body>