<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>A Cup of Reality | {{ post.title}}</title>
    <meta name="author" content="{{ post.author }}">
    <meta name="description" content="{{ post.sub_title }}"> 
    <meta property="og:image" content= "{{ post.header_img }}">
    <meta property="og:type"  content="article" />

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{{url_for('blog.static', filename='css/base.css')}}">
    <link rel="stylesheet" href="{{url_for('blog.static', filename='css/vendor.css')}}">
    <link rel="stylesheet" href="{{url_for('blog.static', filename='css/main.css')}}">

    <!-- script
    ================================================== -->
    <script src="{{url_for('blog.static', filename='js/modernizr.js')}}"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">

</head>

<body class="ss-bg-white">

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div id="top" class="s-wrap site-wrapper">

        <!-- site header
        ================================================== -->
        <header class="s-header header">

            <div class="header__top">
                <div class="header__logo">
                    <a class="site-logo" href="/">
                        <img src="{{url_for('blog.static', filename='images/logo.svg')}}" alt="A Cup of Reality">
                    </a>
                </div>

                <!-- toggles -->

                <a href="#0" class="header__menu-toggle"><span>Menu</span></a>

            </div>

            <nav class="header__nav-wrap">

                <ul class="header__nav">
                    <li><a href="/blog" title="">Home</a></li>
                    <li><a href="/blog/about" title="">About</a></li>
                </ul> <!-- end header__nav -->

            </nav> <!-- end header__nav-wrap -->

        </header> <!-- end s-header -->


        <!-- site content
        ================================================== -->
        <div class="s-content content">
            <main class="row content__page">
                
                <article class="column large-full entry format-standard">

                    <div class="media-wrap entry__media">
                    </div>

                    <div class="content__page-header entry__header">
                        <h1 class="display-1 entry__title">
                        {{ post.title }}
                        </h1>
                        <ul class="entry__header-meta">
                            <li class="author">By <a>{{ post.author }}</a></li>
                            <li class="date">{{ post.date_posted.strftime('%B %d, %Y') }}</li>
                        </ul>
                    </div> <!-- end entry__header -->

                    <div class="entry__content">

                        <h3><i>{{ post.sub_title }}</i></h3>

                        <br>

                        <p>{{ post.content | safe }}</p>


                    </div> <!-- end entry content -->
                    <div class="entry__pagenav">
                        <div class="entry__nav">
                            <div class="entry__prev">
                                <a href="{{ prev }}" rel="prev">
                                    Previous Post
                                </a>
                            </div>
                            <div class="entry__next">
                                <a href="{{ nex }}" rel="next">
                                    Next Post 
                                </a>
                            </div>
                        </div>
                    </div>


                </article> <!-- end column large-full entry--> 

            </main>

        </div> <!-- end s-content -->




        <!-- footer
        ================================================== -->
        <footer class="s-footer footer">
            <div class="row">
                <div class="column large-full footer__content">
                    <div class="footer__copyright">
                        <span>Oh wait</span> 
                        <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>
                    </div>
                </div>
            </div>

            <div class="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"></a>
            </div>
        </footer>

    </div> <!-- end s-wrap -->


    <!-- Java Script
    ================================================== -->
    <script src="{{url_for('blog.static', filename='js/jquery-3.2.1.min.js')}}"></script>
    <script src="{{url_for('blog.static', filename='js/modernizr.js')}}"></script>
    <script src="{{url_for('blog.static', filename='js/main.js')}}"></script>

</body>