{% extends "layout.html" %}

{% block content %}

<nav class="navbar nav-down navbar-expand-lg toggle-height navbar-dark bg-dark" id="navigation">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarmnu">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarmnu">
		<ul class="navbar-nav mr-auto">
            <li class="nav-item">
				<a class="nav-link" href="/">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/project">Projects</a>
			</li>
		</ul>
	</div>
</nav>


<iframe src="https://docs.google.com/document/d/e/2PACX-1vThexK5D6aFEsv9Q1P344VydCoke-4buR5QdQJI6W0EENqPeELxfWhDXo2mb19U_Q/pub?embedded=true" height="100%" width="100%" frameborder="0" style="overflow:hidden">Your browser doesnot support iframes</iframe>






{% endblock %}